/******************
    - General -
******************/
body {
	background-color:#f0f0f0;
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#444;
	margin-top:75px;
}

/* Links */
a {
	color:#666;
	word-wrap:break-word;
	-webkit-transition:color 0.1s ease-in, background 0.1s ease-in;
	   -moz-transition:color 0.1s ease-in, background 0.1s ease-in;
			transition:color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
	color:#ea4848;
	text-decoration:none;
	outline:0;
}

a:before, a:after {
	-webkit-transition:color 0.1s ease-in, background 0.1s ease-in;
	   -moz-transition:color 0.1s ease-in, background 0.1s ease-in;
			transition:color 0.1s ease-in, background 0.1s ease-in;
}

h1, h2, h3, h4, h5, h6 {
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
}

h1 {
	font-weight:800;
	margin-bottom:0;
	text-transform:uppercase;
	letter-spacing:-0.05em;	
}

/*****************
    - Header -
*****************/
.navbar {
	font-size:14px;
	padding:12px 0;
	background-color:#fff;
	background-color:rgba(255, 255, 255, 0.8);
	border:none;
	z-index:999999;
	-webkit-box-shadow:0 2px 2px rgba(0, 0, 0, 0.06);
	   -moz-box-shadow:0 2px 2px rgba(0, 0, 0, 0.06);
			box-shadow:0 2px 2px rgba(0, 0, 0, 0.06);
}

.navbar-brand {
	padding:8px 15px;	
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color:#ea4848;
	background:none !important;
}

/***************
    - Home -
***************/
.home {
	padding:40px 0;
	text-align:center;
}

.home h1 {		
	font-size:34px;
	color:#262626;	
}

.home p {
	font-size:20px;
	color:#666;
}

/*************************
    - Section header -
*************************/
.section-header {
	padding:100px 10px;
	text-align:center;
	color:#fff;
	margin-top:50px;
}

.section-header h1 {
	font-size:40px;
	line-height:50px;	
}

.section-header p {
	font-size:16px;
	line-height:16px;
	opacity:0.8;
}

.bg1 {
	background:#666;
}

.no-touch .bg1 {
	background:url(../images/bg/1.jpg) center center fixed #666;
}

/************************
    - Section title -
************************/
.section {
	width:100%;	
	padding:40px 0;
}

.section.light {
	background-color:#fafafa;
}

.sp-title {
	text-align:center;
	padding:0 10px 40px 10px;
}

.sp-title h1 {
	font-size:40px;
	line-height:50px;
	color:#262626;
}

.sp-title p {
	font-size:16px;
	line-height:16px;
	color:#666;
}

/******************
    - Columns -
******************/
.row { 
	margin-top: 60px; 
}

.row:first-child { 
	margin-top: 0px; 
}

.iconbox .fa {
	display:inline-block;
	float:left;
	width:16%;
	color:#ea4848;
	margin-top:10px;
	vertical-align:top;
}

.iconbox-content {
	display:inline-block;
	float:left;
	width:80%;
}

.row .iconbox-content h5 {
	font-size:18px;
	line-height:23px;
	font-weight:bold;	
}

/************************
    - Miscellaneous -
************************/
.ptb-45 {
	padding:40px 0;
}

.white-box {
	background:#fff;
	padding:25px;
}

/*****************
    - Footer -
*****************/
footer {
  	background:#1a1a1a;
  	padding:50px 0;
	text-align: center;
}
  
footer span.copyright {
    color:#777;
    margin-top:0;
    margin-bottom:0;
    font-size:12px;
    text-transform:uppercase;
    letter-spacing:2px;
    line-height:19px;
    font-weight:400;
}

footer span.copyright a {
	color:#ea4848;
	-webkit-transition:all .3s ease;
	   -moz-transition:all .3s ease;
			transition:all .3s ease;
}

footer span.copyright a:hover {
	color:#fff;
}
	
footer span.copyright a:active, footer span.copyright a:focus {
	color:#fff; 
}

footer .social {
	display:block;
	clear:both;
	cursor:default;
	line-height:1;
	margin-top:10px;
	text-align:center;
}

footer .social a {
	padding:0 5px;
}

footer .social a i.fa {
	font-size:16px;
	color:#999;
	-webkit-transition:all .3s ease;
	   -moz-transition:all .3s ease;
			transition:all .3s ease;
}

footer .social a:hover i.fa {
	color:#fff;
}
